<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;

      </i>
      <strong style="font-size: 30px;">Flipkart</strong>
      <div class="form-group">
               placeholder="search dishes">
      </div>
      <span class="fas fa-search search-icon"></span>
      <div class="nav-item ">
        <a class="nav-link" href="home">Home</a>
      </div>
      <div class="nav-item ">
      </div>
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </div>
        <a href="/admin" class="nav-link" routerLink="admin">Manage Dishes</a>
      </div>
      <div class="nav-item ">
      </div>
</header>
