.content {
  background-image: url("https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg?w=2000");
  height: 90vh ;
}

.content p {
  color: white;
}

.footer h2 {
  text-align: center;
}

.container {
  display: flex;
}

.phone-container {
  display: block;
  /*flex-direction: column;*/
}

.map-container {
  margin-left: 50%;
}

a {
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 1%;
}

.form-control {
  border-radius: 3px;
  width: 400px;
  margin-left: 20px;
}

.nav-link {
  color: white;
  margin-right: 5px;
}

.main-menu {
  display: flex;
}

.marginleft {
  margin-left: 45%;
}

.nav-item {
  display: flex;
}
