<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;

      </i>
      <strong style="font-size: 30px;">Flipkart</strong>



    </div>
    <div class="nav-item ">
      <a class="nav-link" href="dishes">Menu</a>
      <a class="nav-link" href="#">About us</a>
      <a class="nav-link" href="login">Sign in</a>
      <a class="nav-link" href="registration">Sign up</a>
    </div>

  </div>
</header>


<body>
<div class="main-container">
  <!--   <img src="https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg?w=2000" alt ="">-->
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit adipisci ut, unde ducimus sequi quaerat praesentium error ratione delectus asperiores! Voluptate, illo. Temporibus eaque nisi nobis ratione harum optio ex, maxime ipsam quisquam reprehenderit nesciunt neque ut omnis. Similique laborum minus, corrupti in totam voluptatum alias, corporis illo dolorum eaque recusandae distinctio culpa cumque error provident voluptates dolores tempora tenetur ipsa ab molestias quod nam vero? Iste in cupiditate beatae quae nisi nam nesciunt aut dolorum voluptate facere tenetur, iure ex odit animi amet non asperiores voluptatem sint harum. Aliquam temporibus, ipsam cum consectetur quae obcaecati placeat quidem praesentium tenetur.
    </p>
  </div>
  <div class="footer">
    <h2>How to find us</h2>
    <br>
    <div class="container">
      <div class="phone-container">
        <p>Phone: 111 222 333</p>
        <p>Email: restaurant@gmail.com</p>
        <p>6791035407</p>
      </div>
      <div class="map-container">
        <p>Address: Aleja Mickiewicza 30, Krakow</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4834.658544159283!2d19.91321577884617!3d50.06623177990216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba756b59b21%3A0xb20c8dba21b317d1!2sAkademia%20G%C3%B3rniczo-Hutnicza%20im.%20Stanis%C5%82awa%20Staszica%20w%20Krakowie!5e0!3m2!1spl!2spl!4v1673382832474!5m2!1spl!2spl"
                width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
    </div>

  </div>
</div>
</body>
