.form-control {
  border-radius: 3px;
  width: 400px;
  margin-left: 20px;
}

.nav-link {
  color: white;
  margin-right: 5px;
}

.main-menu {
  display: flex;
}

.marginleft {
  margin-left: 45%;
}

.hide-menu{

}

h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 1%;
}

.pages-btn {
  width: 100%;
}

#prev-btn {
  margin-left: 40%;
}

#next-btn {
  margin-left: 10%;
}

a {
  font-size: 20px;
}
