<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;

      </i>
      <strong style="font-size: 30px;">Flipkart</strong>

    </div>
    <div class="nav-item ">
      <a class="nav-link">{{email}}</a>
      <a class="nav-link" href="transits">Transits</a>
<!--      <div class="nav-item" *ngIf="showAdminBoard">-->
<!--        <a href="/buses" class="nav-link">Buses</a>-->
<!--      </div>-->
      <a class="nav-link" href="history">My history</a>
      <a class="nav-link" href="logout">Logout</a>
    </div>

  </div>
</header>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">do {{transit.arrivalTo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">z {{transit.departureFrom}}</h6>
    <h4 class="card-subtitle mb-2 text-muted">{{transit.departure}}</h4>
    <h4 class="card-subtitle mb-2 text-muted">{{transit.arrival}}</h4>
    <h4 class="card-subtitle mb-2 text-muted">{{transit.ticketPrice}}</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p>choose number of seats</p>
    <a class="card-link" (click)="bookTransit()">Book</a>
  </div>
</div>
